WcfService/Calculadora/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56257/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56257/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetSuma_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuma" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSuma_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSumaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetResta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResta" />
  </wsdl:message>
  <wsdl:message name="IService1_GetResta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMultiplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMultiplicacion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMultiplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDivision" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetSuma">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSuma" message="tns:IService1_GetSuma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSumaResponse" message="tns:IService1_GetSuma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetResta" message="tns:IService1_GetResta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRestaResponse" message="tns:IService1_GetResta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMultiplicacion" message="tns:IService1_GetMultiplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMultiplicacionResponse" message="tns:IService1_GetMultiplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDivision" message="tns:IService1_GetDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDivisionResponse" message="tns:IService1_GetDivision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSuma">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSuma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResta">
      <soap:operation soapAction="http://tempuri.org/IService1/GetResta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiplicacion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMultiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivision">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDivision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56257/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>